body{
    color: #40514E;
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

h1{
    color: #66bfbf;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin-top: 3.125rem auto 0 auto;
}

h2{
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 1.6rem;
}

h3{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
}

p{
    color: #40514E;
    line-height: 2;
}

hr{ 
    border-top: 6px dotted #EAF6F6;
    border-bottom: none;
    margin: 6.25rem auto;
    width: 4%;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 0.625rem 1.25rem;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}

.top__container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 6.25rem;
}

.middle__container{
    margin: 6.25rem 0;

}

.bottom__container{
    background-color:  #66BFBF;
    padding: 3.125rem 0 1.25rem;

}

.pro{
    text-decoration: underline;
}

.top__cloud{
    position: absolute;
    right: 18.75rem;
    top: 2.5rem;
}

.bottom__cloud{
    position: absolute;
    left: 15.625rem;
    bottom: 18.75rem;
}

.skill-row{
    width: 50%;
    margin: 6.25rem auto;
    text-align: left;
}

.profile-image{
    border-radius: 100%;
    width: 25%;
}

.cooking-image{
    width: 25%;
    float: right;
    margin-left: 1.875rem;
}

.intro{
    width: 30%;
    margin: auto;
}

.contact__message{
    width: 40%;
    margin: 2.5rem auto 3.75rem;
}

.btn{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF !important;
    font-size: 20px;
    text-shadow: 1px 1px 0px #7CACDE;
    box-shadow: 1px 1px 1px #BEE2F9;
    padding: 10px 25px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #63B8EE;
    background: linear-gradient(top,  #11CDD4,  #11999A);
    background: -ms-linear-gradient(top,  #11CDD4,  #11999A);
    background: -webkit-gradient(linear, left top, left bottom, from(#11CDD4), to(#11999A));
    background: -moz-linear-gradient(top,  #11CDD4,  #11999A);
    text-decoration: none;
  }
  .btn:hover {
    color: #FFFFFF !important;
    background: #468CCF;
    background: linear-gradient(top,  #30E3CB,  #2BC4AD);
    background: -ms-linear-gradient(top,  #30E3CB,  #2BC4AD);
    background: -webkit-gradient(linear, left top, left bottom, from(#30E3CB), to(#2BC4AD));
    background: -moz-linear-gradient(top,  #30E3CB,  #2BC4AD);
    text-decoration: none;
  }

.footer-link{
    color: #11999e;
}

.copyright{
    color:  #EAF6F6;
    font-size: 0.75rem;
    padding: 1.25rem 0;
}
